<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>نتیجه تراکنش</title>
    <link href="/static/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/app.css?date=139809231038" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="container main_page">
    <div class="row form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img_row">
            <img alt="" class="logo" src="/static/images/logo_large.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_resp_row">
            <span>خرید شما انجام نشد</span>
        </div>
    </div>
    <div class="row form-group">
        <b class="text_black" th:text="${webViewModel}"></b>


    </div>
        <div class="row form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_row">
                <div class="main_box">
                    <div style="padding: 20px">
                        <div class="row form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header_box_row">
                                <span>
                                    خطای پرداخت
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_content_row">
                                <span style="text-align: justify" th:switch="${model.orderType.name()}">
                                    در انجام پروسه خرید
                                    <span th:text="#{${model.orderType}}"></span>
                                    <b class="text_black" th:case="'PACKAGE'" th:text="${model.offerDesc}"></b>
                                    <b class="text_black" th:case="'CHARGE'" th:text="#{${model.chargeType}}"></b>
                                    به قیمت
                                    <b class="text_black" th:text="${#numbers.formatInteger(model.amount, 3, 'COMMA')}"></b>
                                    <b class="text_black">ریال</b>
                                    برای شماره
                                     <b class="text_black" th:text="'0'+${model.targetMobileNumber}"></b>
                 مشکلی پیش آمد. در صورت کسر هزینه از حساب بانکی شما، این مبلغ ظرف حداکثر ۷۲ ساعت به حسابتان باز خواهد گشت.
                                </span>
                            </div>
                        </div>
                        <div class="row" th:if="${callback.TRACENO!=null && callback.TRACENO.length()!=0}">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_sub_content_header">
                                <span>شناسه پیگیری پرداخت</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box_sub_content_body">
                                <span th:text="${callback.TRACENO}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn_row">
                                <a class="btn_box" th:href="@{/public/pwa}">
                                    بازگشت به همراه من
                                    <span class="arrow_icon" dir="ltr">&#8249;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>
